{% extends 'games/basic_template.html' %} 

{% block 'title' %}Random translation{% endblock 'title' %}

{% block 'body' %}

<script type="text/javascript">    

    function check_answer() {
        var quizHeader = document.getElementById("quizHeader");
        var quizForm = document.getElementById("quizForm");
        var quizButton = document.getElementById("quizButton");

        if (document.querySelector('input[name="choice"]:checked').value == "True"){
            void quizForm.offsetWidth;
            quizHeader.classList.add('bg-success');
            quizButton.classList.add('bg-success');
            quizButton.innerHTML = "Далее"
            setTimeout(test, 100);
        } else {
            quizForm.classList.remove('shake');
            void quizForm.offsetWidth;
            quizForm.classList.add('shake');
        }
    }
    
    function test() {
        quizButton.href = "{{request.path}}"
    }

</script>
<div class="container d-flex align-items-center justify-content-center" id="quizForm">
    <div class="card mt-3 mx-2 rounded-4" style="width:200px">
        <div class="card-header rounded-top-4" id="quizHeader">
            <h2 class="card-title text-center">{{ main_word.word_name }}</h2>
        </div>
        <div class="card-body">
            {% for translation in translations %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{% if translation.word_name == main_word.word_name %}True{% else %}False{% endif %}">
            <label for="choice{{ forloop.counter }}" class="h6">{{ translation.main_translation }}</label><br>
            {% endfor %}
            <a href="#" class="btn btn-success container-fluid" onclick="check_answer()" id="quizButton">Ответить</a>
        </div>
    </div>
    <div id="alertTrue" style="display:none"> 
        <p>ВЕРНО</p>
        <a href="{{request.path}}">Далее</a>
    </div>
</div>





{% endblock 'body' %}


